#logo{
	height:50px;
	width:99%;
	padding:5px;
	background:#5DCFC3;
	font-weight:600;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5); 
	
	position:fixed;
}
#text_logo{
	font-size:35pt;
}
/*------- MENU -----------*/
#menu{
	position:fixed;
	width:100px;
	height:60%;
	
	background:#5DCFC3;
	top:70px;
	
	padding:5px;
	font-size:16pt;
	font-weight:600;
	
	border-radius:3px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}

#name_menu{
	position:relative;
	left:15%;
	top:10px;
	
}

#my_page{
	margin-top:20px;
}
#list_message{
}
#list_friend{
}
.menu_but{
	width:100%;
	height:50px;
	margin-bottom:5px;
	border:0px solid #00433C;
	border-radius:3px;
	background:#EFFFFD;
}
#hesh_tag{
	position:relative;
	top:155px;
	left:15px;
	font-size:7pt;
}
#author{
	position:relative;
	top:140px;
	left:15px;
	font-size:7pt;
}

/*------- EnD_MENU -------*/
.element_message{
	height: 85px;
	background: #EFFFFD;
	margin: 5px;
	
	padding:10px;
}

#list_dialog{
	background: #5DCFC3;
	padding: 10px;
	width:400px;
	
	position:absolute;
	top:70px;
	left:35%;
	
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}

.image{
	width:80px;
	height:80px;
	border-radius:60px;
	border: 3px solid #5DCFC3;
}

.nickname{
	font-size:16pt;
}

.info_user{
	position:relative;
	left:100px;
	bottom:80px;
	font-size:11pt;

}

#name_list{
	font-size:16pt;
	font-weight:400;
	color:black;
	margin-left:100px;
}

.info{
	position:relative;
	left:30px;
	top:30px;
}